# Subdirectories
_ngo/
_xmsgs/
ipcore_dir/_xmsgs/
iseconfig/
ipcore_dir/coregen_lock
ipcore_dir/instr_fifo/
ipcore_dir/pcie_endpoint/
ipcore_dir/rdback_fifo/
ipcore_dir/xilinx_mig/docs/
ipcore_dir/xilinx_mig/example_design/par/
ipcore_dir/xilinx_mig/example_design/rtl/
ipcore_dir/xilinx_mig/example_design/sim/
ipcore_dir/xilinx_mig/example_design/synth/
ipcore_dir/xilinx_mig/user_design/par/
ipcore_dir/xilinx_mig/user_design/rtl/
ipcore_dir/xilinx_mig/user_design/sim/
ipcore_dir/xilinx_mig/user_design/synth/
ipcore_dir/tmp/
xlnx_auto_0_xdb/
xst/

# File Types
*.bgn
*.bit
*.bld
*.cmd_log
*.csv
*.drc
*.gise
*.html
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.psr
*.ptwx
*.stx
*.syr
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.xml
*.xpi
*.xst
*.xrpt
*.xwbt
*.cgc
*.veo

# Particularly Ignored
ipcore_dir/*.xise
ipcore_dir/*.asy
ipcore_dir/*.log
ipcore_dir/*.ncf
ipcore_dir/*.ngc
ipcore_dir/*.sym
ipcore_dir/*.v
ipcore_dir/*.veo
